<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.exoplanet"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.exoplanet"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.exoplanet"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.exoplanet"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputName">Name</label>
						<div>
							<input id="inputName" 
								   name="inputName"
								   type="text" 
								   class="form-control" 
								   placeholder="Name" 
								   ng-model="obj.name" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputMsini">Msini</label>
						<div>
							<input id="inputMsini" 
								   name="inputMsini"
								   type="number"
								   step="any" 
								   class="form-control" 
								   placeholder="Msini" 
								   ng-model="obj.msini" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputSemiMajorAxis">SemiMajorAxis</label>
						<div>
							<input id="inputSemiMajorAxis" 
								   name="inputSemiMajorAxis"
								   type="number"
								   step="any" 
								   class="form-control" 
								   placeholder="SemiMajorAxis" 
								   ng-model="obj.semiMajorAxis" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputOrbitalPeriod">OrbitalPeriod</label>
						<div>
							<input id="inputOrbitalPeriod" 
								   name="inputOrbitalPeriod"
								   type="number"
								   step="any" 
								   class="form-control" 
								   placeholder="OrbitalPeriod" 
								   ng-model="obj.orbitalPeriod" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputOrbitalExcentricity">OrbitalExcentricity</label>
						<div>
							<input id="inputOrbitalExcentricity" 
								   name="inputOrbitalExcentricity"
								   type="number"
								   step="any" 
								   class="form-control" 
								   placeholder="OrbitalExcentricity" 
								   ng-model="obj.orbitalExcentricity" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputOm">Om</label>
						<div>
							<input id="inputOm" 
								   name="inputOm"
								   type="number"
								   step="1" 
								   class="form-control" 
								   placeholder="Om" 
								   ng-model="obj.om" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputVelocity">Velocity</label>
						<div>
							<input id="inputVelocity" 
								   name="inputVelocity"
								   type="number"
								   step="any" 
								   class="form-control" 
								   placeholder="Velocity" 
								   ng-model="obj.velocity" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputOrbitRef">OrbitRef</label>
						<div>
							<input id="inputOrbitRef" 
								   name="inputOrbitRef"
								   type="text" 
								   class="form-control" 
								   placeholder="OrbitRef" 
								   ng-model="obj.orbitRef" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputFirstRef">FirstRef</label>
						<div>
							<input id="inputFirstRef" 
								   name="inputFirstRef"
								   type="text" 
								   class="form-control" 
								   placeholder="FirstRef" 
								   ng-model="obj.firstRef" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
				</div>
			</fieldset>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-show="isDeletion" class="btn btn-primary" ng-click="delete()">
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.delete"></span>
				</button>
				<button type="button" ng-show="canEdit" class="btn btn-primary" ng-click="gotoEdit()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-pencil"></span>
					<span translate="cmd.modify"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
				<button type="button" ng-show="canDelete" class="btn btn-primary pull-right" ng-click="gotoDelete()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.confirmDeletion"></span>
				</button>					
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
